In [4]:
# Set the URL where the dataset is located
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
column_names <- c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", 
                  "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num")
# Read the data into R
cleveland_data <- read.csv(url, header = FALSE, sep = ",", col.names = column_names)

# View the first few rows of the data
head(cleveland_data)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal num
1 63  1   1  145      233  1   2       150     0     2.3     3     0.0 6.0  0
2 67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0  2
3 67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0  1
4 37  1   3  130      250  0   0       187     0     3.5     3     0.0 3.0  0
5 41  0   2  130      204  0   2       172     0     1.4     1     0.0 3.0  0
6 56  1   2  120      236  0   0       178     0     0.8     1     0.0 3.0  0

In [6]:
total_na <- sum(is.na(cleveland_data))
total_na

[1] 0

In [9]:
unique_values_num <- unique(cleveland_data$num)
unique_values_num

[1] 0 2 1 3 4

In [10]:
# Assuming cleveland_data is your dataset loaded with all 14 predictors
library(dplyr)

# Summary table with count of observations, mean of predictors, and count of missing data
summary_table <- cleveland_data %>%
  summarise(
    Count = n(),
    Mean_Age = mean(age, na.rm = TRUE),
    Mean_trestbps = mean(trestbps, na.rm = TRUE),
    Mean_chol = mean(chol, na.rm = TRUE),
    Mean_thalach = mean(thalach, na.rm = TRUE),
    Mean_oldpeak = mean(oldpeak, na.rm = TRUE),
    Missing_Data = sum(is.na(.))
  )

# To view the table
print(summary_table)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  Count Mean_Age Mean_trestbps Mean_chol Mean_thalach Mean_oldpeak Missing_Data
1   303 54.43894      131.6898  246.6931     149.6073     1.039604            0